/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
  /* transition: all 0.3s ease-in-out; */
  scroll-behavior: smooth;
  letter-spacing: 1px;
}

:root {
  --font-color: rgb(76, 75, 75);
  --f-weight: 600;
}
.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  /* background-color: antiquewhite; */
  background-color: none;
  align-items: center;
  position: fixed;
}

.logo-container {
  /* background-color: blue; */
  flex: 3;
}
.center-nav-container {
  /* background-color: blueviolet; */
  height: 2rem;
  flex: 8;
}
.right-nav-container {
  /* background-color: rgb(255, 140, 0); */
  flex: 3;
  margin-right: 0px;
  display: flex;
}
.teslaLogo {
  height: 30px;
  /* width: 100px; */
  margin: 1rem 0 0 3.5rem;
}
.menu-list,
.menu {
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.nav-list {
  margin: 0 0.6rem;
}
.nav-list > a {
  font-weight: var(--f-weight);
  font-size: 0.8rem;
  text-decoration: none;
  width: 2rem;
  font-stretch: expanded;
  color: rgb(76, 75, 75);
  letter-spacing: 1px;
  padding: 6px 7px;
  /* transition: all 1s ease; */
  /* background-color: blueviolet; */
}
.nav-list > a:hover {
  background-color: rgba(67, 67, 69, 0.198);
  border-radius: 10px;
}
.menu {
  margin: 0;
}
.right-nav-container > .menu-list > .cross-container > .menu-cross {
  display: none;
}
/* Menubar */

/* .navbar {
  position: relative;
} */

.menubar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

/* active class */

.active {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ----------------------------- */
.menu-btn {
  padding: 5px;
  /* background-color: rgba(159, 157, 157, 0.422); */
  background-color: transparent;
  border-radius: 10px;
  width: 4rem;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  font-stretch: expanded;
  color: rgb(76, 75, 75);
  letter-spacing: 1px;
}

.menu-btn:hover {
  background-color: rgba(67, 67, 69, 0.198);
  border-radius: 10px;
}
.container-cross {
  position: fixed;
  right: 0;
  margin: 30px;
  height: 40px;
  width: 40px;
  background-color: rgb(253, 253, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.container-cross:hover {
  background-color: rgba(216, 218, 219, 0.484);
}
.container-cross > .menu-cross {
  font-size: 1.5rem;
  color: rgb(76, 75, 75);
}
.menubar > ul {
  list-style: none;
  margin: 5rem 0 0 2rem;
}
.menubar > ul > li {
  margin-bottom: 0.8rem;
  padding: 0.3rem;
  width: 15rem;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s ease-in-out;
}
.menubar > ul > li:hover {
  background-color: rgba(216, 218, 219, 0.484);
}
.menubar > ul > li > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  width: 2rem;
  font-stretch: expanded;
  color: rgb(76, 75, 75);
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .center-nav-container,
  .hide {
    display: none;
  }
  .menu-btn {
    background-color: rgba(159, 157, 157, 0.422);
  }
  .right-nav-container {
    justify-content: end;
  }
  .teslaLogo {
    margin: 1rem 0 0 1rem;
  }
}

/* @media (max-width: 849px) {
  .model3-container {
    background-size: 900px;
  }
} */

@media (max-width: 560px) {
  .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Model3 section */
.model3-container {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.header-container {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
}
.header-container > .header {
  font-size: 2.5rem;
  font-weight: 800;
  color: black;
  font-family: "M PLUS 1", sans-serif;
  font-stretch: expanded;
}
.header-container > p {
  color: var(--font-color);
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.header-container > p > a {
  color: inherit;
}
.header-container .buttons {
  margin-top: 45vh;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons a {
  margin: 10px;
  height: 40px;
  width: 15rem;
  border-radius: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1 {
  background-color: rgb(59, 63, 67);
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  /* justify-content: center;
  align-items: center; */
}
.btn2 {
  background-color: #e8e8e7;
  color: rgb(65, 63, 63);
  font-weight: 600;
  font-size: 0.7rem;
}
.bottomArrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem;
  height: 7.5rem;
  /* background-color: aqua; */
  /* height: ; */
}
